@model AspClient.Models.MovieModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Search</title>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <a href="@HttpRuntime.AppDomainAppVirtualPath">
                        <img src="~/Content/images/banner.png" />
                    </a>
                </td>
                <td>
                    @using( Html.BeginForm( "Search", "Search" ) )
                    {
                        @Html.TextBoxFor( m => m.SearchString )
                        <input type="submit" value="search" />
                    }

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    ID: @Model.Id <br />
                    @Html.Raw( !string.IsNullOrEmpty( Model.Title ) ? "Title: " + Model.Title + "<br />" : "" )
                    @Html.Raw( !string.IsNullOrEmpty( Model.Kind ) ? "Type: " + Model.Kind + "<br / >" : "" )
                    @Html.Raw( !string.IsNullOrEmpty( Model.SeasonNumber ) ? "Season Number: " + Model.SeasonNumber + "<br / >" : "" )
                    @Html.Raw( !string.IsNullOrEmpty( Model.SeriesYear ) ? "Series Year: " + Model.SeriesYear + "<br / >" : "" )
                    @Html.Raw( !string.IsNullOrEmpty( Model.EpisodeNumber ) ? "Episode Number: " + Model.EpisodeNumber + "<br / >" : "" )
                    @Html.Raw( !string.IsNullOrEmpty( Model.EpisodeOfId ) ? "EpisodeOfId: " + Model.EpisodeOfId + "<br / >" : "" )
                    
                    <hr />
                    
                    @foreach (var person in Model.cast)
                    {
                        @Html.Raw( "<a href=\"http://localhost:8485/Person/ViewInfo?id=" + person.Id + "&SearchString=" + Model.SearchString + "\">" + person.Role + ": " + person.Name + " - " + person.CharacterName + "</a>" );
                        @Html.Raw( "<br />" );
                    }
                </td>
            </tr>
        </table>
    </body>
</html>