@model AspClient.Models.MovieModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Fake IMDb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Bootstrap/css/sticky-footer.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../Bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Bootstrap/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <script src="~/Bootstrap/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrap">
        <!-- Begin page content -->
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation" style="margin-top: 10px;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@HttpRuntime.AppDomainAppVirtualPath" class="navbar-brand">FakeIMDb
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form role="form" action="/Search/Search" class="navbar-form navbar-right" method="GET" style="max-width: 300px;">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="SearchString" name="SearchString" placeholder="Enter Search word...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>

            <!-- #Context -->

            @Html.Raw(!string.IsNullOrEmpty(Model.Title) ? "<div class=\"page-header\"><h1><a href=\"#\" id=\"title\">" + Model.Title + "</a>&nbsp;<small>" + Model.Year + "</small></h1></div>" : "<div class=\"page-header\"><h1>No title</h1></div>")
            <script>
                $('#title').editable({
                    type: 'text',
                    pk: 1,
                    name: 'title',
                    url: '/EditInfo',
                    title: 'Enter title'
                });
            </script>


            @if (!string.IsNullOrEmpty(Model.Plot))
            {
                <h4>Plot</h4>
                <p>
                    <div class="well">
                        @Model.Plot
                    </div>
                </p>
            }

            <h4>Movie info</h4>
            <p>
                <div class="well">
                    @Html.Raw(!string.IsNullOrEmpty(Model.Kind) ? "Type: " + Model.Kind + "<br / >" : "")
                    @Html.Raw(!string.IsNullOrEmpty(Model.SeasonNumber) ? "Season Number: " + Model.SeasonNumber + "<br / >" : "")
                    @Html.Raw(!string.IsNullOrEmpty(Model.SeriesYear) ? "Series Year: " + Model.SeriesYear + "<br / >" : "")
                    @Html.Raw(!string.IsNullOrEmpty(Model.EpisodeNumber) ? "Episode Number: " + Model.EpisodeNumber + "<br / >" : "")
                    @Html.Raw(!string.IsNullOrEmpty(Model.EpisodeOfId) ? "EpisodeOfId: " + Model.EpisodeOfId + "<br / >" : "")

                    @foreach (var kvp in Model.data.Where(kvp => kvp.Value.Count() == 1))
                    {
                        @Html.Raw(kvp.Key + ": " + kvp.Value[0] + "<br/>")
                    }
                </div>
            </p>
            <h4>Other info</h4>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#cast">Cast
                            </a>
                        </h4>
                    </div>
                    <ul id="cast" class="list-group collapse">
                        @foreach (var a in Model.cast)
                        {
                            <li class="list-group-item">
                                @Html.ActionLink(a.Name, "ViewInfo", "Person", new { Id = a.Id }, null)
                                @Html.Raw(!string.IsNullOrEmpty(a.CharacterName) ? "as " + a.CharacterName : "")
                                @Html.Raw(!string.IsNullOrEmpty(a.Note) ? " (" + a.Note + ")" : "")


                            </li>
                          
                            

                        }
                    </ul>
                </div>

                @foreach (var kvp in Model.data.Where(info => info.Value.Count() > 1))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#@kvp.Key">@kvp.Key
                                </a>
                            </h4>
                        </div>
                        <ul id="@kvp.Key"class="list-group collapse">
                            @foreach (var s in kvp.Value)
                            {
                                <li class="list-group-item">@s</li>
                            }
                        </ul>
                    </div>
                }
            </div>

        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

</body>
</html>
